<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/scss/card.css">
</head>
<body>
    <% allp.forEach(item => { %>
        <img class="img" src="<%= item.img %>" alt="">
        <ul class="list">
            <li>
                <p class="list__item"><%= item.brand %></p>
            </li>
            <li>
                <p class="list__item"><%= item.model %></p>
            </li>
            <li>
                <p class="list__item">Ядер: <%= item.cores %></p>
            </li>
            <li>
                <p class="list__item">Потоків: <%= item.threads %></p>
            </li>
            <li>
                <p class="list__item">Частота: <%= item.base_clock %></p>
                <p class="list__item">Турбо: <%= item.turbo_clock %></p>
            </li>
            <li>
                <p class="list__item">Сокет: <%= item.socket %></p>
            </li>
            <li>
                <p class="list__item"><%= item.features %></p>
            </li>
        </ul>


    <% }) %>

</body>

<script>
    console.log(<%- JSON.stringify(allp, null, 2) %>);
</script>
</html>